* {
    font-family: "Droid Sans Mono", "Gentium Book Basic", Arial, sans-serif;
}

body {
    text-align: center;
    margin: 0 auto;
    width: 960px;
}
h1{
    font-size: 2em;
    font-weight: 900;
}

#timer-display {
    margin: 10px auto;
}

.start{

}

.question-block {
    width: 960px;
    text-align: left;
}

.question{
    margin: 10px auto;
}

ul {
    list-style: none;
    padding: 10px;
    border: 1px solid black;
}
li {
    padding: 10px;
    border: 1px solid black;
}

.done {
    display: none;
}

.results {
    display: none;
}

.reset {
    display: none;
}